@import '../commons/variables';
@import '../commons/placeholders';

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;

    .header {
        position: relative;
    }

    .content {
        display: flex;
        position: relative;
        // z-index: 1;
        flex-direction: column;
        flex-grow: 1;
    }

    .footer {
        position: relative;
    }

    @media #{$mq-large-screen} {
        .header {
            &.guest {
                position: absolute;
                // z-index: 2;
                top: 0;
                left: 0;
                width: 100%;
            }
        }
    }
}
